/logs/
/venv/
/venv27/
/.idea/
*.pyc
__pycache__
.build
.cache
.coverage
debian/files
debian/python*
**/.DS_Store
config.py
/files/
/venv39/
/src/callgraph/helpers/config-prod.py
/src/azuregraph.egg-info/
/src/callgraph.egg-info/
/azuregraph.egg-info/
/cabackups/
